/* style.css */
a {
  color: red;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.post-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.post-list {
  padding: 0;
}
.mt-20 {
  margin-top: 20px;
}
